src/main/resources/xsd/fixml-confirmation-base-Latest.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
		FIXML Schema Version FIX.Latest EP296

		Generated: 2025-04-15T04:06:24.5290136-04:00

		Copyright(c) FIX Protocol Limited. All rights reserved.

        Comments and errors should be posted on the FIX Protocol web-site https://www.fixtrading.org/
		-->
<xs:schema xmlns="http://www.fixprotocol.org/FIXML-Latest"
           xmlns:fixr="http://fixprotocol.io/2020/orchestra/repository"
           xmlns:fm="http://www.fixprotocol.org/FIXML-Latest/METADATA"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.fixprotocol.org/FIXML-Latest/METADATA fixml-metadata-Latest.xsd"
           targetNamespace="http://www.fixprotocol.org/FIXML-Latest"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:include schemaLocation="fixml-components-impl-Latest.xsd"/>
   <xs:group name="ConfirmationElements">
      <xs:sequence>
         <xs:element name="RegTrdID"
                     type="RegulatoryTradeIDGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Pty"
                     type="Parties_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="OrdAlloc"
                     type="OrdAllocGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="AllExc"
                     type="ExecAllocGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TrdRegTS"
                     type="TrdRegTimestamps_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Instrmt" type="Instrument_Block_t"/>
         <xs:element name="InstrmtExt" type="InstrumentExtension_Block_t" minOccurs="0"/>
         <xs:element name="FinDetls" type="FinancingDetails_Block_t" minOccurs="0"/>
         <xs:element name="Undly"
                     type="UndInstrmtGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Leg"
                     type="InstrmtLegGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Yield" type="YieldData_Block_t" minOccurs="0"/>
         <xs:element name="Cpcty" type="CpctyConfGrp_Block_t" maxOccurs="unbounded"/>
         <xs:element name="PxQual"
                     type="PriceQualifierGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="SprdBnchmkCurve"
                     type="SpreadOrBenchmarkCurveData_Block_t"
                     minOccurs="0"/>
         <xs:element name="SetInstr" type="SettlInstructionsData_Block_t" minOccurs="0"/>
         <xs:element name="Comm" type="CommissionData_Block_t" minOccurs="0"/>
         <xs:element name="CommData"
                     type="CommissionDataGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Stip"
                     type="Stipulations_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MiscFees"
                     type="MiscFeesGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MtchExcptn"
                     type="MatchExceptionGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MtchDataPnt"
                     type="MatchingDataPointGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="ConfirmationAttributes">
      <xs:attribute name="CnfmID" type="ConfirmID_t" use="required"/>
      <xs:attribute name="CnfmRefID" type="ConfirmRefID_t" use="optional"/>
      <xs:attribute name="CnfmReqID" type="ConfirmReqID_t" use="optional"/>
      <xs:attribute name="CnfmTransTyp" type="ConfirmTransType_t" use="required"/>
      <xs:attribute name="CnfmTyp" type="ConfirmType_t" use="required"/>
      <xs:attribute name="CopyMsgInd" type="CopyMsgIndicator_t" use="optional"/>
      <xs:attribute name="LegalCnfm" type="LegalConfirm_t" use="optional"/>
      <xs:attribute name="CnfmStat" type="ConfirmStatus_t" use="required"/>
      <xs:attribute name="MtchStat" type="MatchStatus_t" use="optional"/>
      <xs:attribute name="AffirmStat" type="AffirmStatus_t" use="optional"/>
      <xs:attribute name="TrdCnfmRefID"
                    type="TradeConfirmationReferenceID_t"
                    use="optional"/>
      <xs:attribute name="Clrd" type="ClearedIndicator_t" use="optional"/>
      <xs:attribute name="AllocID" type="AllocID_t" use="optional"/>
      <xs:attribute name="AllocID2" type="SecondaryAllocID_t" use="optional"/>
      <xs:attribute name="IndAllocID" type="IndividualAllocID_t" use="optional"/>
      <xs:attribute name="TrdTyp" type="TrdType_t" use="optional"/>
      <xs:attribute name="TrdSubTyp" type="TrdSubType_t" use="optional"/>
      <xs:attribute name="TrdTyp2" type="SecondaryTrdType_t" use="optional"/>
      <xs:attribute name="TrdContntn" type="TradeContinuation_t" use="optional"/>
      <xs:attribute name="TrdContntnTxt" type="TradeContinuationText_t" use="optional"/>
      <xs:attribute name="EncTrdContntnTextLen"
                    type="EncodedTradeContinuationTextLen_t"
                    use="optional"/>
      <xs:attribute name="EncTrdContntnText"
                    type="EncodedTradeContinuationText_t"
                    use="optional"/>
      <xs:attribute name="MtchTyp" type="MatchType_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="required"/>
      <xs:attribute name="Qty" type="AllocQty_t" use="required"/>
      <xs:attribute name="QtyTyp" type="QtyType_t" use="optional"/>
      <xs:attribute name="Side" type="Side_t" use="required"/>
      <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
      <xs:attribute name="CcySrc" type="CurrencyCodeSource_t" use="optional"/>
      <xs:attribute name="LastMkt" type="LastMkt_t" use="optional"/>
      <xs:attribute name="Acct" type="AllocAccount_t" use="required"/>
      <xs:attribute name="ActIDSrc" type="AllocAcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AllocAccountType_t" use="optional"/>
      <xs:attribute name="AvgPx" type="AvgPx_t" use="required"/>
      <xs:attribute name="AvgPxPrcsn" type="AvgPxPrecision_t" use="optional"/>
      <xs:attribute name="PxTyp" type="PriceType_t" use="optional"/>
      <xs:attribute name="AvgParPx" type="AvgParPx_t" use="optional"/>
      <xs:attribute name="RptedPx" type="ReportedPx_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
      <xs:attribute name="ProcCode" type="ProcessCode_t" use="optional"/>
      <xs:attribute name="GrossTrdAmt" type="GrossTradeAmt_t" use="required"/>
      <xs:attribute name="NumDaysInt" type="NumDaysInterest_t" use="optional"/>
      <xs:attribute name="ExDt" type="ExDate_t" use="optional"/>
      <xs:attribute name="AcrdIntRt" type="AccruedInterestRate_t" use="optional"/>
      <xs:attribute name="AcrdIntAmt" type="AccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="IntAtMat" type="InterestAtMaturity_t" use="optional"/>
      <xs:attribute name="EndAcrdIntAmt" type="EndAccruedInterestAmt_t" use="optional"/>
      <xs:attribute name="StartCsh" type="StartCash_t" use="optional"/>
      <xs:attribute name="EndCsh" type="EndCash_t" use="optional"/>
      <xs:attribute name="Concession" type="Concession_t" use="optional"/>
      <xs:attribute name="TotTakedown" type="TotalTakedown_t" use="optional"/>
      <xs:attribute name="NetMny" type="NetMoney_t" use="required"/>
      <xs:attribute name="MatNetMny" type="MaturityNetMoney_t" use="optional"/>
      <xs:attribute name="SettlCurrAmt" type="SettlCurrAmt_t" use="optional"/>
      <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
      <xs:attribute name="SettlCcySrc" type="SettlCurrencyCodeSource_t" use="optional"/>
      <xs:attribute name="SettlCurrFxRt" type="SettlCurrFxRate_t" use="optional"/>
      <xs:attribute name="SettlCurrFxRtCalc"
                    type="SettlCurrFxRateCalc_t"
                    use="optional"/>
      <xs:attribute name="SettlTyp" type="SettlType_t" use="optional"/>
      <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
      <xs:attribute name="SharedComm" type="SharedCommission_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="Confirmation_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">Confirmation can be found at https://www.fixtrading.org/online-specification/business-area-PostTrade#msg70</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX"
                     name="Confirmation"
                     ComponentType="Message"
                     MsgID="70"
                     Section="PostTrade"
                     Category="Confirmation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="ConfirmationElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="ConfirmationAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Cnfm"
               type="Confirmation_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="ConfirmationAckElements">
      <xs:sequence>
         <xs:element name="RegTrdID"
                     type="RegulatoryTradeIDGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MtchExcptn"
                     type="MatchExceptionGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="MtchDataPnt"
                     type="MatchingDataPointGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="ConfirmationAckAttributes">
      <xs:attribute name="CnfmID" type="ConfirmID_t" use="required"/>
      <xs:attribute name="TrdDt" type="TradeDate_t" use="required"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="AffirmStat" type="AffirmStatus_t" use="required"/>
      <xs:attribute name="TrdCnfmRefID"
                    type="TradeConfirmationReferenceID_t"
                    use="optional"/>
      <xs:attribute name="CnfmRejRsn" type="ConfirmRejReason_t" use="optional"/>
      <xs:attribute name="MtchStat" type="MatchStatus_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ConfirmationAck_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">ConfirmationAck can be found at https://www.fixtrading.org/online-specification/business-area-PostTrade#msg80</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX"
                     name="ConfirmationAck"
                     ComponentType="Message"
                     MsgID="80"
                     Section="PostTrade"
                     Category="Confirmation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="ConfirmationAckElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="ConfirmationAckAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="CnfmAck"
               type="ConfirmationAck_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="ConfirmationRequestElements">
      <xs:sequence>
         <xs:element name="OrdAlloc"
                     type="OrdAllocGrp_Block_t"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="ConfirmationRequestAttributes">
      <xs:attribute name="CnfmReqID" type="ConfirmReqID_t" use="required"/>
      <xs:attribute name="CnfmTyp" type="ConfirmType_t" use="required"/>
      <xs:attribute name="AllocID" type="AllocID_t" use="optional"/>
      <xs:attribute name="AllocID2" type="SecondaryAllocID_t" use="optional"/>
      <xs:attribute name="IndAllocID" type="IndividualAllocID_t" use="optional"/>
      <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
      <xs:attribute name="Acct" type="AllocAccount_t" use="optional"/>
      <xs:attribute name="ActIDSrc" type="AllocAcctIDSource_t" use="optional"/>
      <xs:attribute name="AcctTyp" type="AllocAccountType_t" use="optional"/>
      <xs:attribute name="Txt" type="Text_t" use="optional"/>
      <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
      <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="ConfirmationRequest_message_t" final="#all">
      <xs:annotation>
         <xs:documentation xml:lang="en">ConfirmationRequest can be found at https://www.fixtrading.org/online-specification/business-area-PostTrade#msg93</xs:documentation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX"
                     name="ConfirmationRequest"
                     ComponentType="Message"
                     MsgID="93"
                     Section="PostTrade"
                     Category="Confirmation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Abstract_message_t">
            <xs:sequence>
               <xs:group ref="ConfirmationRequestElements"/>
            </xs:sequence>
            <xs:attributeGroup ref="ConfirmationRequestAttributes"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="CnfmReq"
               type="ConfirmationRequest_message_t"
               substitutionGroup="Message"
               final="#all"/>
   <xs:group name="CpctyConfGrpElements">
      <xs:sequence/>
   </xs:group>
   <xs:attributeGroup name="CpctyConfGrpAttributes">
      <xs:attribute name="Cpcty" type="OrderCapacity_t" use="required"/>
      <xs:attribute name="Rstctions" type="OrderRestrictions_t" use="optional"/>
      <xs:attribute name="CpctyQty" type="OrderCapacityQty_t" use="optional"/>
   </xs:attributeGroup>
   <xs:complexType name="CpctyConfGrp_Block_t">
      <xs:annotation>
         <xs:appinfo>
            <fm:Xref Protocol="FIX"
                     name="CpctyConfGrp"
                     ComponentType="BlockRepeating"
                     Category="Confirmation"/>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:group ref="CpctyConfGrpElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="CpctyConfGrpAttributes"/>
   </xs:complexType>
</xs:schema>
